
@media (max-width: 1439px) and (min-width: 1024px) {
    .popular-sports__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .champions__grid {
        grid-template-columns: repeat(3, 1fr);

        .champion-small img {
            width: 90%;
        }
    }
}