
@media (max-width: 479px) {
    .main-section {
        width: 95%;
    }

    .popular-sports {
        width: 95%;
    }

    .champions {
        width: 95%;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    .quote {
        font-size: 1.2em;
    }
}
